[Unit]
Description=A lightweight notification daemon for Wayland. Works on Sway.
Documentation=https://github.com/emersion/mako
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/mako

[Install]
WantedBy=sway-session.target
