[user]
  name = Henry Kupty
  email = hkupty@gmail.com
[push]
  default = current
[color]
  ui = true
  diff = true
[github]
  user = hkupty
[gc]
  auto = 1
[merge]
  summary = true
[rerere]
  enabled = 1
  autoupdate = true
[core]
	excludesfile = /home/hkupty/.gitignore_global
[includeIf "gitdir:/opt/code/tink-ab/"]
  path = /opt/code/tink-ab/.gitconfig
[pull]
	rebase = true
	ff = only
