[user]
	name = Henry Kupty
	email = hkupty@gmail.com
[push]
    default = simple
[color]
    ui = true
    diff = true
[github]
    user = hkupty
[gc]
    auto=1
[merge]
    summary=true
[rerere]
    enabled = 1
    autoupdate = true
[core]
	excludesfile = /home/hkupty/.gitignore_global
