profile singleton {
  output eDP-1 position 0,0 mode 1920x1200 scale 1
  exec swaybg -o eDP-1 -i $HOME/.local/share/desktop/nebula2.png
}

profile home {
  output 'Unknown MSI MAG272QP CA8A010900475' position 0,0 mode 2560x1440@60Hz
  output eDP-1 scale 1.3 position 2560,260 mode 1920x1200
  output 'Unknown MSI MAG272QP CA8A010800281' position 4035,0 mode 2560x1440@60Hz

  {% if YADM_USER == "hkupty" %}
  exec swaybg -o eDP-1 -i $HOME/.local/share/desktop/death.jpg -o 'Unknown MSI MAG272QP CA8A010800281' -i $HOME/.local/share/desktop/skull.jpg -o 'Unknown MSI MAG272QP CA8A010900475' -i $HOME/.local/share/desktop/skull-teeth.jpg
  {% else %}
  exec swaybg -o eDP-1 -i $HOME/.local/share/desktop/nebula2.png -o 'Unknown MSI MAG272QP CA8A010800281' -i $HOME/.local/share/desktop/nebula1.jpg -o 'Unknown MSI MAG272QP CA8A010900475' -i $HOME/.local/share/desktop/nebula3.png
  {% endif %}
}

profile office {
  output 'Hewlett Packard HP E242 CNC6050D81' position 0,0 mode 1920x1200
  output eDP-1 position 230,1440 mode 1920x1200 position 370,1200 mode 1920x1200

  exec swaybg -o eDP-1 -i $HOME/.local/share/desktop/skull.jpg -o 'Hewlett Packard HP E242 CNC6050D81' -i $HOME/.local/share/desktop/death.jpg
}
