{
 aur-git #$ ["ls" "$AUR_DIR" "|" "grep" "-e" "'-git$'"  "|" "xargs" "aur" "up"]
 aur-plain #$ ["ls" "$AUR_DIR" "|" "grep" "-ve" "'-git$'"  "|" "xargs" "aur" "up"]
 aur {depends [aur-git aur-plain]}
 pacman #$ ["sudo" "pacman" "-Syu" "--noconfirm"]
 pip #$ ["pip" "freeze" "--user" "|" "awk" "-F=" "'{print $1}'" "|" "xargs" "pip" "install" "--upgrade" "--user"]
 volatile {depends [pacman aur-git]}
 stable {depends [aur-plain pip]}
 all {depends [volatile stable]}
}
